<%= form_for(@hotel, :html => {:multipart => true}) do |f| %>
  <% if @hotel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hotel.errors.count, "error") %> prohibited this hotel from being saved:</h2>

      <ul>
      <% @hotel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :room_description %><br />
    <textarea rows="3" <%= f.text_area :room_description %></textarea>
  </div>
    <div class="field">
        <%= f.label :breackfast %><br />
        <%= f.text_field :breackfast %>
      </div>
    <div class="field">
        <%= f.label :price %><br />
        <%= f.text_field :price %><br />
      </div>
    <p>
    <div class="field">
         <%= f.file_field :image %><br />
          </div>

    <div class="field">
         <%= f.label :remote_image_url, "paste your image URL" %>
         <%= f.text_field :remote_image_url %>
          </div>

    </p>

    <div class="field">
       <%= f.fields_for :location_attributes do |address| %>
        <%=address.label :country  %>
        <%=address.text_field :country  %>
        <%=address.label :city  %>
        <%=address.text_field :city  %>
        <%=address.label :state  %>
        <%=address.text_field :state %>
        <%=address.label :street  %>
        <%=address.text_field :street  %>
        <% end %>
     </div>



      <div class="actions">
    <%= f.submit %>
  </div>
<% end %>